body{
    margin: 0 auto;
    padding: 0;
}

.login-container{
  width: 30%;
  margin: auto;
  position: absolute;
  top: 50%; left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.top{
    background-color: #1abc9c;
    min-height:100px;
    width: 100%;
    padding: 10px;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px -1px 3px 0px rgba(31, 226, 188, .6);
}

.top p{
    color:white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    bottom: 0;
    left: 10px;
    font-size: 16px;
}

.top img{
    position: absolute;
    top: calc(100% - 100px);
    right: 10px;
    width: 100px;
}

.modal {
    position: absolute;
    background-color: white;
    padding: 10px;
    padding-bottom: 15px;
    top: 20px;
    left: 20px;
    right: 20px;
    display: none;
    z-index: 20;
    border-radius: 5px;
    margin-bottom: 15px;
    display: inline-block;
}


.bottom p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #1abc9c;
}

.bottom i{
    margin-right:5px;
    color: #1abc9c;
}

.bottom input{
    padding:8px;
    margin-bottom: 15px;
    border: 1px solid #1abc9c;
    font-family: 'Montserrat', sans-serif;
}

.bottom{
    text-align: center;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.2);
    width: 100%;
    position: relative;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bottom button{
    padding: 10px;
    color: white;
    background-color: #1abc9c;
    border-radius: 20px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s ease;
}

.bottom button:hover{
    border-radius: 5px;
    background-color: #16a085;
    transition: all .3s ease;
}

.bottom button i{
    color: white !important;
    margin-left: 10px;
}

@media only screen and (max-width: 780px) {
    .login-container {
        width: 90%;
        padding-right:20px;
    }
}

